#form_lang label{
  display: block;
  position: relative;
  width: 360px;
  height: 30px;
  line-height: 30px;
  color: #666666;
  font-size: 16px;
  margin: 2px;
}

label, input[type=checkbox]{
  cursor: pointer;
}

input[type=checkbox]{
  opacity: 0;
  appearance: none;
  position: absolute;
}

input[type=checkbox] + span{
  margin-left: 32px;
}

input[type=checkbox] + span::before{
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 5px;
  width: 20px;
  height: 20px;
}

input[type=checkbox]:checked + span::before{
  background-image: url("data:image/svg+xml; charset=utf-8, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpolyline fill='none' stroke='%23fff' stroke-width='3' points='2,7.3 7.3,12.7 18,2 '/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 2px;
  border: 2px solid #3282b8;
  background-color: #3282b8;
}

input[type=checkbox]:not(:checked) + span::before{
  border: 2px solid #cccccc;
  background-color: #ffffff;
}

input[type=checkbox] + span::after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #f6f6f6;
  width: 360px;
  height: 30px;
  z-index: -1;
}

input[type=checkbox]:hover + span::after{
  background-color: #dddddd;
}

input[type=checkbox]:focus + span::after{
  background-color: #dddddd;
}
